
.btn, .bc-btn {
    border: solid 1px;
    padding: 5px 10px;
    border-radius: 25px !important;
    font-weight: 600;
    font-size: 12px;
}
.btn-clear a {
    color: white;
}
.btn-clear {
    background-color: rgba(0,0,0,0);
    border-color: white;
}
.btn-white {
    color: var(--green);
    background-color: white;
    border-color: white;
}
.btn-capital {
    text-transform: uppercase;
}
.btn-green, .bc-btn {
    background-color: var(--green) !important;
    border-color: green !important;
}
input {
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
    border: solid 1px var(--green);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}